html, body {
    height: 100%;
    color:white;
    background-color: #636363;
  }
.rodape{
    flex-shrink: 0;
    background-color:#303030 ;
}
.corpo{
    flex:1 0 auto;
}
body {
    display: flex;
    flex-direction: column;
  }
  
.dt-button buttons-excel buttons-html5{
	 background-color:black !important;
 }